/*----------------CONTENT---------------*/
.content {
    padding-bottom:90px;
    width:960px;
    margin:0 auto;
}
/*-------------ОСНОВНОЙ КОНТЕНТ-----------*/
.section {
    margin:0;
    padding:0;
    float:right;
}
.big-ul {
    margin-top:0;
    padding:0;
}
.big-ul-item{
    background:#eff3f7;
    height:100%;
    width:650px;
    border-radius: 5px;
    padding-bottom:21px;
    margin-bottom:26px;
}
.zagolovok{
    margin:0;
    color: #3ba8c0;
    font-family:'fira_sansbook';
    font-weight:normal;
    font-style:normal;
    font-size:27px;
    width:320px;
    padding:21px 0 19px 22px;
    border-bottom:2px solid #3ba8c0;
    margin-bottom:22px;
}
.wrap-title{
    height:100%;
}
.main-image {
    border-radius: 100%;
    width: 140px;
    height: 140px;
    border: 5px solid #30a6bd;
    margin:13px 0 0 55px;
    float:left;
    overflow:hidden;
}
.keys{
    float:left;
}
.info {
    margin-left:49px;
    padding:0 0 0 140px;
}
.my-info{

}
.my-info-item{
    padding-bottom:17px;
}
.skill{
    width:200px;
    float:left;
    padding-left:16px;
    padding-bottom:4px;
}
.skills-list{
    padding:0;
}
.skills-list-item{
    display:inline-block;
    background-image:
    -moz-linear-gradient(bottom, #2E8CA2 0%, #2E8CA2 52%, #3BA8C0 53%, #3BA8C0 100%);
    background-image:
    -o-linear-gradient(bottom, #2E8CA2 0%, #2E8CA2 52%, #3BA8C0 53%, #3BA8C0 100%);
    background-image:-webkit-linear-gradient(bottom, #2E8CA2 0%, #2E8CA2 52%, #3BA8C0 53%, #3BA8C0 100%);
    background-image:linear-gradient(to top, #2E8CA2 0%, #2E8CA2 52%, #3BA8C0 53%, #3BA8C0 100%);
    border-radius:2px;
    color:#FFF;
    font-family:"proxima_nova_cond_semibold";
    font-size:14px;
    text-align:center;
    padding:0 12px 0 12px;
    margin-bottom:3px;
    margin-left:5px;
    margin-top:4px;
    line-height:19px;
}
.term{
    font-size: 15px;
    padding-left:13px;
}
.big-ul-list{
    padding-bottom:7px;
}
.big-ul-text-item{
    margin:0;
    font-size: 17px;
    font-family:'fira_sansbook';
    font-weight:normal;
    padding-left:33px;
}
.paragraph{
    margin:0;
    font-family:'fira_sanslight';
    padding:5px 0 0 20px;
}
.text-area{
     padding-left:9px;
     padding-bottom:15px;
}
.big-ul-list-item-port-one{
    background:url(../img/portf.png) 9px 5px no-repeat;
    padding:5px 12px 21px 42px;
}
.big-ul-list-item-port-two{
    background:url(../img/portf.png) 9px top no-repeat;
    padding:0 12px 0 42px;
}
.big-ul-list-item-hat{
    background:url(../img/hat.png) 6px 5px no-repeat;
    padding:5px 12px 21px 42px;
}
.big-ul-list-item-file{
    background:url(../img/file.png) 14px 1px no-repeat;
    padding:0 12px 0 42px;
}
.spantext{
    font-family:'fira_sansbook';
    font-size:15px;
    color:#4a545d;
    padding-left:19px;
}
.paragraph-info{
    margin:0;
    font-family:'fira_sansmedium';
    font-size:17px;
    color:#4a545d;
}
.hat-img{
    margin-left:-3px;
}
.file-img{
    margin:12px 5px;
}
/*------------MY WORKS-----------*/
.my-jobs-title{
   margin:0;
    color: #3ba8c0;
    font-family:'fira_sansbook';
    font-weight:normal;
    font-style:normal;
    font-size:27px;
    width:320px;
    padding:21px 0 19px 24px;
    border-bottom:2px solid #3ba8c0;
}
.my-jobs{
    padding:0;
    margin-left:1px;
}
.my-jobs-item{
    padding:0;
    float:left;
    width:179px;
    padding:27px 15px 16px 19px;
}
.img-dec{
    width:179px;
    height:125px;
    border:2px solid #30a6bd;
    border-radius:8px 8px 8px 8px;
}
.my-jobs-item-inside{
    margin:0;
    padding-top:16px;
    text-align:center;
    font-family:'fira_sanslight';
    font-size:15px;
}
.my-jobs-item-link{
    margin:0;
    font-family:'fira_sanslight_Italic';
    font-size:13px;
    text-align:center;
    color:#30a6bd;
    padding:6px 2px 0 0;
}
.list-of-jobs{
    padding:0;
}
.link-in-jobs{
    text-decoration:none;
}
.my-jobs-item-add{
    background:transparent;
    border:none;
    outline:none;
}
/*-------------ADD NEW PROJECT------*/
.popup{
    width:362px;
    background: #eff3f7;
    border-radius:5px 5px 5px 5px;
}
.popup-head{
    margin:0;
    background:#48cbe8;
    padding:12px 17px 15px 14px;
    position:relative; 
    overflow:hidden;
}
.popup-head:after{
    content:"";
    background: #67dffa;
    height:9px;
    width:362px;
    position:absolute;
    bottom:0;
    display:table;
    clear:both;
    margin-left:-14px;
}
.popup-title{
    margin:0;
    color: #FFF;
    font-family:'fira_sansregular';
    font-weight:normal;
    font-style:normal;
    font-size:25px;
    float:left;
}
.close-popup{
    background:transparent;
    border:none;
    outline:none;
    width:25px;
    height:25px;
    padding-left:60px;
}
.popup-text-font{
    margin:0;
    padding:6px 0 6px 21px;
    font-family:'fira_sansbook';
    font-size:17px;
    color:#9ca1ae;
    margin-left:-1px;
}
.popup-input{
    margin-left:21px;
    width:314px;
    height:37px;
    border: 1px solid #48cbe8; 
    border-radius: 3px 3px;
    font-family:'fira_sanslight';
    color:#48cbe8; 
    font-size:13px;
}
.popup-textarea{
   margin-left:21px;
   width:314px;
   height:105px;
   border:1px solid #48cbe8; 
   border-radius: 3px 3px;
   font-family:'fira_sanslight';
   font-size:13px;
   resize:none;
}

.popup-submit-one{
  margin:8px 0 0 111px;
  float:left;
  padding:2px;
  height:40px;
  width:140px;
  border:none;
  outline:none;
  font-family:'fira_sansbook';
  font-size:19px;
  color:white;
  background:url(../img/submit-project.png) no-repeat center; 
  margin-top:3px;
}
.popup-submit-one:hover{
    background:url(../img/submit-project-hover.png) no-repeat center;
}
.popup-button{
    padding-bottom:60px;
}
/*-------------FILE UPLOAD----------*/
.file_upload{
    width:314px;
    margin-left:21px;
    display: block;
    position: relative;
    overflow: hidden;
    font-size: 1em;             
    height: 40px;                 
    line-height: 2.5em             
}
.file_upload .button, .file_upload > .mark-text{
    display: block;
    cursor: pointer            
}
.button{
    text-indent:-9999px;
}
.file_upload .button{
    float: right;
    width: 49px;                 
    height: 100%;          
}
.file_upload > mark{
    background: #FFF;     
    padding-left: 1em;          
}

.file_upload input[type=file]{
    position: absolute;
    top: 0;
    opacity: 0;
    width:1px;
    height:1px;
}
.file_upload{
    border: 1px solid #48cbe8;
    border-radius: 3px;
}
.file_upload .button{
    background:url(../img/add-file.png) no-repeat;
}
.file_upload:hover .button{
    background:url(../img/add-file.png) no-repeat;
}
.mark-text{
    color:#48cbe8;
    font-family:'fira_sansbook';
    font-size:13px;
    margin-left:-4px;
}
#pop-it-up{
display:none;
}
/*---------------Hover Проектов-----------*/
/*.list-of-jobs {
  width: 300px;
  height: 200px;
  overflow: hidden;
}
.my-jobs-item .my-jobs-item-inside {
  position: absolute;
  top: 0px;
  left: 0px;
  background: rgba(0,0,0,0.7);
  width: 100%;
  height: 100%;
  color: #fff;
  opacity: 0;
  -o-transition: all 0.5s linear 0s;
  -webkit-transition: all 0.5s linear 0s;
  -moz-transition: all 0.5s linear 0s;
  -o-transition: all 0.5s linear 0s;
  transition: all 0.5s linear 0s;
}

.list-of-jobs .my-jobs-item-inside .btn {
  width: 120px;
  text-align: center;
  display: block;
  background: #68432d;
  color: #fff;
  padding: 10px 0px;
  border-radius: 5px;
  margin: 0px auto 0px auto;
  position: relative;
  top: -58px;
  opacity: 0;
  -o-transition: all 0.3s linear 0s;
  -webkit-transition: all 0.3s linear 0s;
  -moz-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}
.list-of-jobs:hover .btn {
  top: 300px;
  opacity: 1;
}
.list-of-jobs:hover .my-jobs-item-inside,
.list-of-jobs:hover{
  opacity: 1;
  }*/
/*---------------CONTACT FORM-------------*/
.cont-title{
    margin:0;
    background:#48cbe8;
    font-family:'fira_sansbook';
    font-size: 27px;
    font-weight:normal;
    color: #FFF;
    padding:50px 55px 61px 59px;
    border-radius:5px 5px 5px 5px;
    position:relative;
}
.cont-title:after{
    content:"";
    background: #67dffa;
    height:17px;
    width:650px;
    position:absolute;
    bottom:0;
    display:table;
    clear:both;
    margin-left:-59px;
}
.form{
    width:402px;
    margin:48px auto;
    padding-bottom:128px;
}
.yourname{
    width:210px;
    float:left;
}
.input{
    width:190px;
    height:37px;
    border: 1px solid #48cbe8; 
    border-radius: 3px 3px;
    font-family:'fira_sanslight';
    color:#48cbe8; 
    font-size:13px;
}
.form-text-font{
    margin:0;
    padding-bottom:3px;
    font-family:'fira_sanslight';
    font-size:19px;
    color:#9ca1ae;
    margin-left:-1px;
}
.form-textarea{
    padding-bottom:3px;
    margin:17px 0 0 -1px;
    font-family:'fira_sanslight';
    font-size:19px;
    color:#9ca1ae;
}
.textarea{
   width:396px;
   height:177px;
   border:1px solid #48cbe8; 
   border-radius: 3px 3px;
   font-family:'fira_sanslight';
   font-size:13px;
   resize:none;
}
.form-text-captcha{
   padding-bottom:4px;
   margin:14px 0 0 -2px;
   font-family:'fira_sanslight';
   font-size:17px;
   color:#9ca1ae;        
}
.captcha-img{
    float:left;
    padding-bottom:21px;
}
.captcha-input{
    margin:21px 0 0 19px;
    width:190px;
    height:28px;
    border: 1px solid #48cbe8; 
    border-radius: 3px 3px;
    font-family:'fira_sanslight';
    color:#48cbe8; 
    font-size:13px;
}
.buttons{
    width:402px;
}
.submit-one{
  float:left;
  padding:2px;
  width:140px;
  height:40px;
  border:none;
  outline:none;
  font-family:'fira_sansbook';
  font-size:19px;
  color:white;
  background:url(../img/submit-one.png) no-repeat center;  
}
.submit-two{
  float:right;
  margin-right:-2px;
  width:128px;
  height:40px;
  border:none;
  outline:none;
  font-family:'fira_sansbook';
  font-size:19px;
  color:white;
  background:url(../img/submit-two.png) no-repeat center; 

}
.submit-one:hover{
    background:url(../img/submit-one-hover.png) no-repeat;
    padding-bottom:8px;
}
.submit-two:hover{
    background:url(../img/submit-two-hover.png) no-repeat;
    padding-bottom:8px;
}
/*-------------AUTHORIZE------------------*/
.auth-section{
    position:relative;
    width:100%;
}
.auth-section:after{
    content:"";
    display:block;
    clear:both;
}
.auth{
    position:relative;
    right:50%;
    float:right;
    margin-top:180px;

}
.auth-item{
    position:relative;
    z-index:1;
    right:-50%;
    box-shadow:0 3px 8px -3px;
}
.auth-item{
    background:#eff3f7;
    height:100%;
    width:590px;
    border-radius: 5px;
    padding-bottom:21px;
}
.auth-form{
    text-align:center;

}
.auth-title{
    margin:0 auto;
    background:#48cbe8;
    font-family:'fira_sansbook';
    font-size: 40px;
    font-weight:normal;
    text-align:center;
    color: #FFF;
    padding:33px 55px 34px 59px;
    border-radius:5px 5px 5px 5px;
    position:relative;
}
.auth-title:after{
    content:"";
    background: #67dffa;
    height:15px;
    width:590px;
    position:absolute;
    bottom:0;
    display:table;
    clear:both;
    margin-left:-59px;
}
.auth-text-font{
    margin:0;
    padding:0;
    font-family:'fira_sanslight';
    font-size:36px;
    color:#9ca1ae;
    text-align:center;
    padding:25px 0 12px 0;
}
.login{
   margin:0 auto; 
}
.input-auth{
    margin:0 auto;
    width:422px;
    height:58px;
    border: 1px solid #48cbe8; 
    border-radius: 3px 3px;
    font-family:'fira_sanslight';
    color:#48cbe8; 
    font-size:13px;
}
.auth-submit{
    float:left;
    text-align:center;
    padding:2px;
    width:226px;
    height:54px;
    border:none;
    outline:none;
    font-family:'fira_sansbook';
    font-size:36px;
    color:white;
    background:url(../img/login.png) no-repeat center;  
}
.auth-submit:hover{
   background:url(../img/login-hover.png) no-repeat center; 
   padding-top:8px; 
}
.auth-buttons{
    width:402px;
    margin:30px 0 0 180px;
    padding-bottom:20px;
}
/*-----------PLACEHOLDER-------------*/
.input::-webkit-input-placeholder, .captcha-input::-webkit-input-placeholder{
    color:#48cbe8;
    padding-left:8px;
}
.input:-moz-placeholder, .captcha-input:-moz-placeholder{
    color:#48cbe8; 
    padding-left:8px;
}
.popup-input::-webkit-input-placeholder, .captcha-input::-webkit-input-placeholder{
    color:#48cbe8;
    padding-left:8px;
}
.popup-input:-moz-placeholder, .captcha-input:-moz-placeholder{
    color:#48cbe8; 
    padding-left:8px;
}
.textarea::-webkit-input-placeholder{
    color:#48cbe8;
    padding:11px 0 0 7px;
}
.textarea:-moz-placeholder{
    color:#48cbe8; 
    padding:11px 0 0 7px;
}
.popup-textarea::-webkit-input-placeholder{
    color:#48cbe8;
    padding:11px 0 0 7px;
}
.popup-textarea:-moz-placeholder{
    color:#48cbe8; 
    padding:11px 0 0 7px;
}
.input-auth::-webkit-input-placeholder{
    color:#48cbe8;
    padding-left:18px;
    font-size:17px;

}
.input-auth:-moz-placeholder{
    color:#48cbe8; 
    padding-left:18px;
    font-size:17px;
}
/*----------------END CONTENT---------------*/